@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFProDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
:root {
  --white-color: #fff;
  --black-color: #000;
  --main-color: #2f3035;
  --accent-color: #1c62cd;
  --base-color: #f0f0f4;
  --light-gray: #c4c4c4;
  --alto-color: #e0e0e0;
  --silver-color: #cdcdcd;
  --abbey-color: #48494d;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "SF Pro Display", sans-serif;
  min-height: 100vh;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  color: var(--main-color);
  background-color: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.header__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__item:not(:last-child) {
  padding-right: 50px;
}
.menu .menu__link {
  font-weight: 700;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.box__address {
  position: relative;
  font-weight: 700;
  padding-left: 30px;
  margin-right: 85px;
}
.box__address::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url("../images/icons/address-icon.svg");
}
.box__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}

.panel__item {
  padding-right: 10px;
}
.cart {
  position: relative;
}
.cart__text {
  position: absolute;
  right: -10px;
  bottom: 0;
  width: 20px;
  height: 20px;
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  color: var(--white-color);
  border-radius: 50%;
  background-color: var(--accent-color);
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: var(--base-color);
}
.categories__item {
  padding: 15px 0;
}
.categories__link {
  position: relative;
}
.categories__link::after {
  content: "";
  display: block;
  position: absolute;
  left: auto;
  right: 0;
  bottom: -15px;
  width: 0;
  height: 3px;
  background-color: var(--accent-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.categories__link:hover {
  color: var(--black-color);
}
.categories__link:hover::after {
  width: 100%;
  right: auto;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 80px 0;
}
.hero__slider {
  max-width: 870px;
}
.slider {
  position: relative;
}
.slider__btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9;
  outline: none;
}
.slider__prev {
  left: 20px;
}
.slider__next {
  left: auto;
  right: 20px;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 40px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.slick-dots li {
  padding: 0 5px;
}
.slick-dots .slick-active button {
  background-color: var(--white-color);
}
.slick-dots button {
  font-size: 0;
  margin: 0;
  padding: 0;
  width: 11px;
  height: 11px;
  border: 1px solid var(--white-color);
  border-radius: 50%;
  background-color: transparent;
}

.sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 265px;
  border: 1px solid var(--base-color);
  border-radius: 3px;
}
.sale__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sale__label {
  padding: 10px 20px;
}
.sale__info {
  margin-top: auto;
  margin-bottom: 10px;
}
.sale__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  padding: 0 30px;
}
.sale__bottom {
  margin-top: auto;
  padding: 25px 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: var(--base-color);
}
.sale__date {
  font-size: 18px;
  line-height: 21px;
}
.sale__date span {
  font-family: "Barlow";
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--accent-color);
}

.label {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.price {
  font-family: "Barlow";
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  color: var(--accent-color);
}
.price__text {
  position: relative;
  padding-right: 20px;
  margin-right: 10px;
}
.price__text::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  width: 15px;
  height: 18px;
  background-image: url("../images/icons/currency.svg");
}
.price__text--old {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--light-gray);
}
.price__text--old::after {
  content: "";
  position: absolute;
  top: 4px;
  right: 15px;
  width: 15px;
  height: 18px;
  background-image: url("../images/icons/currency--old.svg");
  background-repeat: no-repeat;
}
.price__text--old::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 25%;
  width: 60px;
  height: 0.5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  background-color: var(--light-gray);
}

.search__inner {
  margin-bottom: 80px;
}
.search__tabs {
  margin-bottom: 25px;
}
.tabs .search__tabs-item.tabs__item {
  display: inline-block;
  padding: 12px 26px;
}
.tabs .search__tabs-item.tabs__item--active {
  font-weight: 700;
  border-radius: 5px;
  background-color: var(--base-color);
}

.tabs-content__item {
  display: none;
}
.tabs-content__item--active {
  display: block;
}
.tabs-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tabs-form__input {
  padding: 15px 20px;
  width: 100%;
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: var(--base-color);
}
.tabs-form__input::-webkit-input-placeholder {
  color: #656464;
}
.tabs-form__input::-moz-placeholder {
  color: #656464;
}
.tabs-form__input:-ms-input-placeholder {
  color: #656464;
}
.tabs-form__input::-ms-input-placeholder {
  color: #656464;
}
.tabs-form__input::placeholder {
  color: #656464;
}
.tabs-form__btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  padding: 15px 40px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.group__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 80px;
}
.group__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32%;
          flex: 0 1 32%;
  padding: 20px 20px 15px 20px;
  border: 1px solid var(--silver-color);
  border-radius: 3px;
  background-color: var(--white-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.group__item:nth-child(-n+3) {
  margin-bottom: 30px;
}
.group__item:hover {
  border: 1px solid var(--white-color);
  -webkit-box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
          box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.group__item:hover .group__title {
  color: var(--accent-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.group__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.group__title {
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.group__text {
  display: inline-block;
  position: relative;
  font-size: 14px;
  line-height: 17px;
  color: var(--light-gray);
}
.group__text::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 9px;
  margin-left: 5px;
  background-image: url("../images/icons/more-icon.svg");
}
.group__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  text-align: center;
}

.products__inner {
  margin-bottom: 80px;
}
.products__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 25px;
}
.products__slider__prev {
  left: -35px;
}
.products__slider__next {
  right: -35px;
}
.products__item {
  display: inline-block;
  margin: 15px;
}
.products__more-btn {
  margin-top: 35px;
  text-align: center;
}
.products__more-link {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.12em;
  padding: 15px 40px;
  text-transform: uppercase;
  background-color: var(--base-color);
}

.tabs-triggers__item {
  font-size: 15px;
  line-height: 18px;
  padding-bottom: 10px;
}
.tabs-triggers__item:not(:last-child) {
  margin-right: 50px;
}
.tabs-triggers__item--active {
  border-bottom: 2px solid var(--accent-color);
}

.products-content {
  margin-top: 25px;
}
.products-content__item {
  display: none;
}
.products-content__item--active {
  display: block;
}

.product {
  position: relative;
  max-width: 270px;
}
.product.product--list {
  max-width: 100%;
  width: 100%;
}
.product.product--list .product__image {
  width: 270px;
  margin: 0 auto;
}
.product.product--sale .product__label {
  display: block;
}
.product.product--not-available .product__price {
  display: none;
}
.product.product--not-available .product__buy-btn {
  display: none;
}
.product.product--not-available .product--not-available__text, .product.product--not-available .product--not-available__link {
  display: block;
}
.product__wishlist-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 24px;
  height: 22px;
  background-image: url("../images/icons/fav-icon.svg");
}
.product__wishlist-btn.wishlist-btn--active {
  background-image: url("../images/icons/fav-icon--active.svg");
}
.product__buy-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px 30px;
  border-radius: 10px 0px 0px 0px;
  background-color: var(--accent-color);
  background-image: url("../images/icons/cart-icon--white.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.product__label {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 15px;
}
.product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding: 50px 20px 30px 20px;
  border-radius: 3px;
  border: 1px solid var(--silver-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  min-height: 420px;
}
.product__item:hover {
  color: var(--accent-color);
  -webkit-box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
          box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
  border: 1px solid var(--white-color);
}
.product__item:hover .product__hover-text {
  opacity: 1;
}
.product__title {
  font-size: 18px;
  line-height: 21px;
  margin-top: auto;
  margin-bottom: 15px;
}
.product__price {
  font-family: "Barlow";
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}
.product__hover-text {
  position: absolute;
  top: 30%;
  left: 20px;
  right: 20px;
  padding: 15px 20px;
  color: var(--main-color);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.product--not-available__text {
  display: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 15px;
  color: var(--main-color);
}
.product--not-available__link {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 41px;
  right: 41px;
  font-size: 16px;
  line-height: 19px;
  color: var(--accent-color);
  text-decoration: underline;
}

.banner {
  margin-bottom: 80px;
}

.breadcrumbs {
  margin: 45px 0;
}
.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.breadcrumbs__item {
  position: relative;
  font-size: 15px;
  line-height: 18px;
  color: var(--light-gray);
}
.breadcrumbs__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 15px;
}
.breadcrumbs__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 6px;
  height: 10px;
  background-image: url("../images/icons/more-icon.svg");
  background-repeat: no-repeat;
}

.catalogue__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 40px 0 25px;
}
.catalogue__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
.catalogue__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.catalogue__aside {
  min-width: 290px;
  margin-right: 10px;
}
.catalogue__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 100px;
}
.catalogue__products .product {
  margin: 0;
  margin-bottom: 30px;
}
.tags__item {
  font-size: 14px;
  line-height: 17px;
  padding: 0;
  padding: 5px 25px;
  opacity: 0.7;
  background-color: var(--base-color);
  border-radius: 3px;
}
.tags__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tags__group-btn {
  opacity: 0.3;
}
.tags__group-btn--grid {
  width: 23px;
  height: 21px;
  margin-right: 10px;
}
.tags__group-btn--list {
  width: 25px;
  height: 19px;
}
.tags__group-btn--selected {
  opacity: 1;
}

.aside__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}
.aside__tabs-item {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.09em;
  padding-bottom: 5px;
  text-transform: uppercase;
  color: var(--light-gray);
}
.aside__tabs-item:first-child {
  margin-right: 40px;
}
.tabs .aside__tabs-item.tabs__item--active {
  font-weight: 700;
  color: var(--main-color);
  border-bottom: 2px solid var(--accent-color);
}

.filter-form__item--drop {
  margin-bottom: 40px;
}
.filter-form__item--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--light-gray);
}
.filter-form__item--buttons {
  text-align: center;
}
.filter-form__item:nth-child(6) {
  margin-bottom: 40px;
}

.filter-item__title {
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  padding-left: 20px;
}
.filter-item__title--drop::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 12px;
  height: 8px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  background-image: url("../images/icons/expand.svg");
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.filter-item__title--active::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.filter-item__label {
  font-size: 14px;
  line-height: 17px;
  width: 50%;
}
.filter-item__label:nth-child(3), .filter-item__label:nth-child(4) {
  padding: 20px 0;
}
.filter-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}
.filter-item__content--no-wrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.filter-item__content--no-wrap .filter-item__label {
  padding: 0;
}
.filter-item__more {
  width: 100%;
}
.filter-item__more-btn {
  font-size: 14px;
  line-height: 17px;
  color: var(--accent-color);
  padding: 0;
  border-bottom: 1px solid var(--accent-color);
}
.filter-item__btn--submit {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 15px;
  padding: 15px 80px;
  background-color: var(--accent-color);
}
.filter-item__btn--reset {
  font-size: 13px;
  line-height: 16px;
  margin-top: 15px;
  padding: 0;
  color: var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
}
.filter-item__settings-title {
  display: inline-block;
  position: relative;
  font-size: 13px;
  line-height: 16px;
  padding-right: 20px;
}
.filter-item__settings-title::after {
  content: "";
  position: absolute;
  top: 4px;
  right: 0;
  width: 12px;
  height: 8px;
  background-image: url("../images/icons/expand.svg");
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.filter-item__settings-title.filter-item__title--active::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.filter-item__settings-content {
  display: none;
}

.pagination {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 40px;
}
.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pagination__item {
  font-family: "Barlow";
  font-size: 18px;
  line-height: 22px;
  padding: 3px 10px;
  margin: 0 10px;
  color: var(--light-gray);
}
.pagination__item.pagination__item--active {
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.jq-checkbox,
.jq-radio {
  vertical-align: -2px;
  width: 14px;
  height: 14px;
  margin: 0 10px 0 0;
  border: 1px solid var(--light-gray);
  background: var(--white-color);
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  border-radius: 0;
}

.jq-checkbox.focused {
  border: 1px solid var(--accent-color);
}

.jq-checkbox.checked,
.jq-radio.checked {
  background-color: var(--accent-color);
  border: none;
}

.jq-checkbox.checked .jq-checkbox__div {
  width: 8px;
  height: 6px;
  margin: 4px 0 0 3px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  border: none;
  background-image: url("../images/icons/check-icon.svg");
}

.jq-radio.checked .jq-radio__div {
  width: 10px;
  height: 10px;
  margin: 0;
  border-radius: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.irs--flat {
  margin-bottom: 60px;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  font-family: "Barlow", sans-serif;
  top: 45px;
  font-size: 14px;
  line-height: 17px;
  padding: 0;
  margin-left: 25px;
  color: var(--main-color);
  text-shadow: none;
  text-decoration: underline;
  background-color: transparent;
  border-radius: 0;
  visibility: visible !important;
}

.irs--flat .irs-min::before,
.irs--flat .irs-max::before {
  content: "от";
  position: absolute;
  top: 0;
  left: -25px;
  color: var(--light-gray);
}

.irs--flat .irs-max::before {
  content: "до";
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  visibility: hidden !important;
}

.irs--flat .irs-line {
  top: 25px;
  height: 1px;
  background-color: var(--alto-color);
  border-radius: 0;
}

.irs--flat .irs-bar {
  top: 25px;
  height: 3px;
  background-color: var(--accent-color);
}

.irs--flat .irs-handle > i:first-child {
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  width: 8px;
  height: 8px;
  margin-left: -1px;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child {
  background-color: var(--accent-color);
}

.irs--flat .irs-handle {
  border-radius: 50%;
}

.jq-selectbox__dropdown {
  margin-top: -5px;
}

.jq-selectbox__select {
  position: relative;
  height: 100%;
  padding: 0 20px 0 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: var(--abbey-color);
  text-shadow: none;
  border: none;
}

.jq-selectbox__select:hover,
.jq-selectbox__select:active {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.jq-selectbox.focused .jq-selectbox__select {
  border: none;
}

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
  border-left: none;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 12px;
  right: 5px;
  width: 12px;
  height: 8px;
  border: none;
  background-image: url("../images/icons/expand.svg");
}

.jq-selectbox ul {
  background-color: var(--white-color);
  border: 1px solid var(--alto-color);
}

.jq-selectbox li.selected,
.jq-selectbox li:hover {
  background-color: transparent;
  background: rgba(107, 126, 172, 0.05);
  color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox li {
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.6);
}

.select-filter .jq-selectbox__select {
  border: 1px solid #d7d9df;
  margin-right: 35px;
}

.select-filter.jq-selectbox.focused .jq-selectbox__select {
  border: 1px solid #d7d9df;
}

.select-filter .jq-selectbox__select-text {
  margin-right: 15px;
  margin-left: 15px;
}

.product-info {
  margin-bottom: 80px;
}
.product-info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.product-info__box {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 500px;
          flex: 0 1 500px;
  text-align: center;
}
.product-info__label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.12em;
  padding: 13px 26px;
  border-radius: 3px;
}
.product-info__image {
  max-width: 100%;
  padding-top: 60px;
}
.product-info__price {
  font-family: "Barlow";
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}
.product-info__price--old {
  position: relative;
  display: inline-block;
  font-size: 30px;
  line-height: 36px;
  opacity: 0.6;
  margin-top: 15px;
  margin-bottom: 5px;
}
.product-info__price--old::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--main-color);
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
}
.product-info__link {
  font-size: 15px;
  line-height: 18px;
  color: var(--accent-color);
  margin-top: 15px;
}
.product-info__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 570px;
          flex: 0 1 570px;
}
.product-info__tabs {
  margin-bottom: 20px;
}
.product-info__tabs-item {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  opacity: 0.6;
  padding-right: 15px;
}
.product-info__tabs-item:not(:last-child) {
  margin-right: 20px;
}
.product-info__list {
  margin-bottom: 20px;
}
.product-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 450px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(47, 48, 53, 0.1);
}
.product-info__item:not(:last-child) {
  margin-bottom: 15px;
}
.product-info__item--left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
}
.product-info__item--right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}
.product-info__more-btn {
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  margin-bottom: 45px;
}
.product-info__buy-btn {
  display: block;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  padding: 0;
  padding: 15px 50px;
  background: var(--accent-color);
  border-radius: 3px;
  color: var(--white-color);
}

.product-content__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 10px;
}
.product-content__subtitle {
  font-size: 15px;
  line-height: 18px;
  opacity: 0.6;
  margin-bottom: 25px;
}
.product-content__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
.product-content__fav {
  margin-right: 25px;
  width: 24px;
  height: 22px;
}
.product-content__compare {
  margin-right: 25px;
  width: 20px;
  height: 28px;
}
.product-info__tabs-item.tabs__item--active {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border-bottom: 2px solid var(--accent-color);
  opacity: 1;
}

.product-tabs__wrapper {
  margin-bottom: 100px;
}

.product-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 22px 0;
  margin-bottom: 50px;
  background-color: var(--base-color);
}
.product-item.tabs__item--active {
  border-bottom: 2px solid var(--accent-color);
}

.product-form__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
.product-form__label {
  font-size: 17px;
  line-height: 20px;
  color: rgba(47, 48, 53, 0.7);
}
.product-form__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-label {
  position: relative;
  margin-right: 100px;
}
.search-label__input {
  border: none;
  border-radius: 3px;
  margin-left: 15px;
  padding: 10px 25px 10px 15px;
  background-color: var(--base-color);
}
.search-label::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 8px;
  width: 16px;
  height: 16px;
  background-image: url("../images/icons/search-icon.svg");
}

.pickup-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
}
.pickup-label__input {
  margin: 0;
  margin-right: 15px;
}

.form-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  color: rgba(47, 48, 53, 0.7);
  padding: 20px 0;
  border-bottom: 1px solid rgba(47, 48, 53, 0.1);
}
.form-list__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  color: var(--main-color);
  margin-bottom: 20px;
}
.form-list__address {
  width: 220px;
  margin-right: 80px;
}
.form-list__workhours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  margin-right: 80px;
}
.form-list__workhours span {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.form-list__available {
  width: 120px;
  margin-right: 80px;
}
.form-list__count {
  width: 110px;
  margin-right: 140px;
}
.form-list__buy-btn {
  font-size: 13px;
  line-height: 16px;
  padding: 10px 40px;
}

.footer {
  padding: 45px 0 25px 0;
  background-color: var(--base-color);
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-top__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  max-width: 222px;
}
.footer-top__form {
  margin-top: 35px;
  margin-right: 110px;
  max-width: 300px;
}
.footer-top__social {
  margin-left: auto;
  margin-right: 75px;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.subscribe-form__input {
  font-size: 14px;
  line-height: 17px;
  padding: 8px 15px;
  border: none;
}
w .subscribe-form__input::-webkit-input-placeholder {
  color: var(--light-gray);
}
w .subscribe-form__input::-moz-placeholder {
  color: var(--light-gray);
}
w .subscribe-form__input:-ms-input-placeholder {
  color: var(--light-gray);
}
w .subscribe-form__input::-ms-input-placeholder {
  color: var(--light-gray);
}
w .subscribe-form__input::placeholder {
  color: var(--light-gray);
}
.subscribe-form__btn {
  font-weight: 600;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.12em;
  padding: 10px 15px;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.footer-list {
  margin-right: 100px;
}
.footer-list__link {
  font-size: 14px;
  line-height: 17px;
}

.footer-social {
  -ms-flex-item-align: center;
      align-self: center;
}
.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-social__item:not(:last-child) {
  margin-right: 30px;
}
.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}
.footer-bottom__link {
  font-size: 10px;
  line-height: 12px;
  margin: 0 40px;
  color: var(--abbey-color);
}