@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFProDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
:root {
  --white-color: #fff;
  --black-color: #000;
  --main-color: #2f3035;
  --accent-color: #1c62cd;
  --base-color: #f0f0f4;
  --light-gray: #c4c4c4;
  --alto-color: #e0e0e0;
  --silver-color: #cdcdcd;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "SF Pro Display", sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  color: var(--main-color);
  background-color: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.header__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__item:not(:last-child) {
  padding-right: 50px;
}
.menu .menu__link {
  font-weight: 700;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.box__address {
  position: relative;
  font-weight: 700;
  padding-left: 30px;
  margin-right: 85px;
}
.box__address::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url("../images/icons/address-icon.svg");
}
.box__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}

.panel__item {
  padding-right: 10px;
}
.cart {
  position: relative;
}
.cart__text {
  position: absolute;
  right: -10px;
  bottom: 0;
  width: 20px;
  height: 20px;
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  color: var(--white-color);
  border-radius: 50%;
  background-color: var(--accent-color);
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: var(--base-color);
}
.categories__item {
  padding: 15px 0;
}
.categories__link {
  position: relative;
}
.categories__link::after {
  content: "";
  display: block;
  position: absolute;
  left: auto;
  right: 0;
  bottom: -15px;
  width: 0;
  height: 3px;
  background-color: var(--accent-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.categories__link:hover {
  color: var(--black-color);
}
.categories__link:hover::after {
  width: 100%;
  right: auto;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 80px 0;
}
.hero__slider {
  max-width: 870px;
}
.slider {
  position: relative;
}
.slider__btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9;
  outline: none;
}
.slider__prev {
  left: 20px;
}
.slider__next {
  left: auto;
  right: 20px;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 40px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.slick-dots li {
  padding: 0 5px;
}
.slick-dots .slick-active button {
  background-color: var(--white-color);
}
.slick-dots button {
  font-size: 0;
  margin: 0;
  padding: 0;
  width: 11px;
  height: 11px;
  border: 1px solid var(--white-color);
  border-radius: 50%;
  background-color: transparent;
}

.sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 265px;
  border: 1px solid var(--base-color);
  border-radius: 3px;
}
.sale__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sale__label {
  padding: 10px 20px;
}
.sale__info {
  margin-top: auto;
  margin-bottom: 10px;
}
.sale__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  padding: 0 30px;
}
.sale__bottom {
  margin-top: auto;
  padding: 25px 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: var(--base-color);
}
.sale__date {
  font-size: 18px;
  line-height: 21px;
}
.sale__date span {
  font-family: "Barlow";
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--accent-color);
}

.label {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.price {
  font-family: "Barlow";
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  color: var(--accent-color);
}
.price__text {
  position: relative;
  padding-right: 20px;
  margin-right: 10px;
}
.price__text::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  width: 15px;
  height: 18px;
  background-image: url("../images/icons/currency.svg");
}
.price__text--old {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--light-gray);
}
.price__text--old::after {
  content: "";
  position: absolute;
  top: 4px;
  right: 15px;
  width: 15px;
  height: 18px;
  background-image: url("../images/icons/currency--old.svg");
  background-repeat: no-repeat;
}
.price__text--old::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 25%;
  width: 60px;
  height: 0.5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  background-color: var(--light-gray);
}

.search__inner {
  margin-bottom: 80px;
}
.search__tabs {
  margin-bottom: 25px;
}
.tabs__item {
  display: inline-block;
  padding: 12px 26px;
}
.tabs__item--active {
  font-weight: 700;
  border-radius: 5px;
  background-color: var(--base-color);
}

.tabs-content__item {
  display: none;
}
.tabs-content__item--active {
  display: block;
}
.tabs-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tabs-form__input {
  padding: 15px 20px;
  width: 100%;
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: var(--base-color);
}
.tabs-form__input::-webkit-input-placeholder {
  color: #656464;
}
.tabs-form__input::-moz-placeholder {
  color: #656464;
}
.tabs-form__input:-ms-input-placeholder {
  color: #656464;
}
.tabs-form__input::-ms-input-placeholder {
  color: #656464;
}
.tabs-form__input::placeholder {
  color: #656464;
}
.tabs-form__btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  padding: 15px 40px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.group__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 80px;
}
.group__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32%;
          flex: 0 1 32%;
  padding: 20px 20px 15px 20px;
  border: 1px solid var(--silver-color);
  border-radius: 3px;
  background-color: var(--white-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.group__item:nth-child(-n+3) {
  margin-bottom: 30px;
}
.group__item:hover {
  border: 1px solid var(--white-color);
  -webkit-box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
          box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.group__item:hover .group__title {
  color: var(--accent-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.group__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.group__title {
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.group__text {
  display: inline-block;
  position: relative;
  font-size: 14px;
  line-height: 17px;
  color: var(--light-gray);
}
.group__text::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 9px;
  margin-left: 5px;
  background-image: url("../images/icons/more-icon.svg");
}
.group__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  text-align: center;
}

.products__inner {
  margin-bottom: 80px;
}
.products__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 25px;
}
.products__slider__prev {
  left: -35px;
}
.products__slider__next {
  right: -35px;
}
.products__item {
  display: inline-block;
  margin: 15px;
}
.products__more-btn {
  margin-top: 35px;
  text-align: center;
}
.products__more-link {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.12em;
  padding: 15px 40px;
  text-transform: uppercase;
  background-color: var(--base-color);
}

.tabs-triggers__item {
  font-size: 15px;
  line-height: 18px;
  padding-bottom: 10px;
}
.tabs-triggers__item:not(:last-child) {
  margin-right: 50px;
}
.tabs-triggers__item--active {
  border-bottom: 2px solid var(--accent-color);
}

.products-content {
  margin-top: 25px;
}
.products-content__item {
  display: none;
}
.products-content__item--active {
  display: block;
}

.product {
  position: relative;
  max-width: 270px;
}
.product.product--sale .product__label {
  display: block;
}
.product.product--not-available .product__price {
  display: none;
}
.product.product--not-available .product__buy-btn {
  display: none;
}
.product.product--not-available .product--not-available__text, .product.product--not-available .product--not-available__link {
  display: block;
}
.product__wishlist-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 24px;
  height: 22px;
  background-image: url("../images/icons/fav-icon.svg");
}
.product__wishlist-btn.wishlist-btn--active {
  background-image: url("../images/icons/fav-icon--active.svg");
}
.product__buy-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px 30px;
  border-radius: 10px 0px 0px 0px;
  background-color: var(--accent-color);
  background-image: url("../images/icons/cart-icon--white.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.product__label {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 15px;
}
.product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding: 50px 20px 30px 20px;
  border-radius: 3px;
  border: 1px solid var(--silver-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  min-height: 420px;
}
.product__item:hover {
  color: var(--accent-color);
  -webkit-box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
          box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
  border: 1px solid var(--white-color);
}
.product__item:hover .product__hover-text {
  opacity: 1;
}
.product__title {
  font-size: 18px;
  line-height: 21px;
  margin-top: auto;
  margin-bottom: 15px;
}
.product__price {
  font-family: "Barlow";
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}
.product__hover-text {
  position: absolute;
  top: 30%;
  left: 20px;
  right: 20px;
  padding: 15px 20px;
  color: var(--main-color);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.product--not-available__text {
  display: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 15px;
  color: var(--main-color);
}
.product--not-available__link {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 41px;
  right: 41px;
  font-size: 16px;
  line-height: 19px;
  color: var(--accent-color);
  text-decoration: underline;
}

.banner {
  margin-bottom: 80px;
}