.wrapper {
	justify-content: space-between;
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.col {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.btn-reset {
	border: none;
	background: transparent;
	cursor: pointer;
}