:root {
	--white-color: #fff; // color: var(--white-color);
	--black-color: #000;
	--main-color: #2f3035;
	--accent-color: #1c62cd;
	--base-color: #f0f0f4;
	--light-gray: #c4c4c4;
}

// for naming colors use: https://chir.ag/projects/name-that-color
