@import './reset';
@import './fonts';
@import './variables';
@import './mixins';
@import './global'; // global settings: font-family, font-size, background-color, color etc.
@import './overall'; // global classes: .wrapper, .container etc.

// components imports

@import './components/header';
@import './components/hero';
@import './components/search';
@import './components/group';
@import './components/products';
@import './components/catalogue/breadcrumbs';
@import './components/catalogue/catalogue';
@import './components/footer';