.breadcrumbs {
   margin: 45px 0;

   // .breadcrumbs__list

   &__list {
      display: flex;
   }

   // .breadcrumbs__item

   &__item {
      position: relative;
      font-size: 15px;
      line-height: 18px;
      color: var(--light-gray);

      &:not(:last-child) {
         margin-right: 10px;
         padding-right: 15px;

         &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 6px;
            height: 10px;
            background-image: url('../images/icons/more-icon.svg');
            background-repeat: no-repeat;
         }
      }
   }
}

@media (max-width: 1160px) {
   .tags__group-btn {
      display: none;
   }
}

@media (max-width: 753px) {
   .breadcrumbs__list {
      overflow-x: auto;
      min-width: 300px;
      white-space: nowrap;
   }

   .breadcrumbs__item {
      display: inline-block;
      padding: 15px 15px 15px 0;
   }
}