.catalogue {

   // .catalogue__title

   &__title {
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      margin: 40px 0 25px;
   }

   // .catalogue__tags

   &__tags {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;
   }

   // .catalogue__inner

   &__inner {
      display: flex;
   }

   // .catalogue__aside

   &__aside {
      min-width: 290px;
      margin-right: 10px;
   }

   // .catalogue__products

   &__products {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 100px;

      & .product {
         margin: 0;
         margin-bottom: 30px;
      }
   }
}

.tags {

   // .tags__item

   &__item {
      font-size: 14px;
      line-height: 17px;
      padding: 0;
      padding: 5px 25px;
      opacity: 0.7;
      background-color: var(--base-color);
      border-radius: 3px;
   }

   // .tags__group

   &__group {
      display: flex;
      align-items: center;
   }

   // .tags__group-btn

   &__group-btn {
      opacity: 0.3;
      // .tags__group-btn--grid

      &--grid {
         width: 23px;
         height: 21px;
         margin-right: 10px;
      }

      // .tags__group-btn--list

      &--list {
         width: 25px;
         height: 19px;
      }

      &--selected {
         opacity: 1;
      }
   }
}


.aside {

   // .aside__tabs

   &__tabs {
      display: flex;
      margin-bottom: 40px;
   }

   // .aside__tabs-item

   &__tabs-item {
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.09em;
      padding-bottom: 5px;
      text-transform: uppercase;
      color: var(--light-gray);

      &:first-child {
         margin-right: 40px;
      }
   }
}

.tabs {

   .aside__tabs-item.tabs__item--active {
      font-weight: 700;
      color: var(--main-color);
      border-bottom: 2px solid var(--accent-color);
   }
}

.filter-form {

   // .filter-form__item

   &__item {

      // .filter-form__item--drop

      &--drop {
         margin-bottom: 40px;
      }

      // .filter-form__item--list

      &--list {
         display: flex;
         align-items: center;
         justify-content: space-between;
         margin-top: 20px;
         padding-bottom: 5px;
         border-bottom: 2px solid var(--light-gray);
      }

      &--buttons {
         text-align: center;
      }

      &:nth-child(6) {
         margin-bottom: 40px;
      }

   }
}

.filter-item {

   // .filter-item__title

   &__title {
      position: relative;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      padding-left: 20px;



      // .filter-item__title--drop

      &--drop {


         &::before {
            content: '';
            position: absolute;
            top: 5px;
            left: 0;
            width: 12px;
            height: 8px;
            transform: rotate(0deg);
            background-image: url('../images/icons/expand.svg');
            transition: transform 0.3s;
         }
      }

      // .filter-item__title--active

      &--active {
         &::before {
            transform: rotate(180deg);
         }
      }
   }

   // .filter-item__label

   &__label {
      font-size: 14px;
      line-height: 17px;
      width: 50%;

      &:nth-child(3),
      &:nth-child(4) {
         padding: 20px 0;
      }
   }

   // .filter-item__content

   &__content {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;

      &--no-wrap {
         flex-wrap: nowrap;

         & .filter-item__label {
            padding: 0;
         }
      }
   }

   // .filter-item__more

   &__more {
      width: 100%;

      &-btn {
         font-size: 14px;
         line-height: 17px;
         color: var(--accent-color);
         padding: 0;
         border-bottom: 1px solid var(--accent-color);
      }
   }



   &__btn {

      // .filter-item__btn--submit

      &--submit {
         font-size: 15px;
         line-height: 18px;
         letter-spacing: 0.12em;
         text-transform: uppercase;
         color: var(--white-color);
         margin-bottom: 15px;
         padding: 15px 80px;
         background-color: var(--accent-color);
      }

      // .filter-item__btn--reset

      &--reset {
         font-size: 13px;
         line-height: 16px;
         margin-top: 15px;
         padding: 0;
         color: var(--light-gray);
         border-bottom: 1px solid var(--light-gray);
      }
   }

   &__settings-title {
      display: inline-block;
      position: relative;
      font-size: 13px;
      line-height: 16px;
      padding-right: 20px;


      &::after {
         content: '';
         position: absolute;
         top: 4px;
         right: 0;
         width: 12px;
         height: 8px;
         background-image: url('../images/icons/expand.svg');
         transition: transform 0.3s;
      }

      &.filter-item__title--active::after {
         transform: rotate(180deg);

      }
   }

   // .filter-item__settings-content

   &__settings-content {
      display: none;
   }
}


.pagination {
   max-width: 100%;
   margin: 0 auto;
   margin-top: 40px;

   // .pagination__list

   &__list {
      display: flex;
      justify-content: center;
   }

   // .pagination__item

   &__item {
      font-family: 'Barlow';
      font-size: 18px;
      line-height: 22px;
      padding: 3px 10px;
      margin: 0 10px;
      color: var(--light-gray);

      &.pagination__item--active {
         color: var(--accent-color);
         border: 2px solid var(--accent-color);
      }
   }
}

.aside__filter-btn {
   display: none;
   font-size: 18px;
   color: var(--white-color);
   background-color: var(--accent-color);
   padding: 15px 0;
   width: 100%;
   text-align: center;
   margin-bottom: 25px;
}

@media (max-width: 1160px) {
   .catalogue__products {
      justify-content: space-evenly;
   }

   .tags__list {
      overflow-x: auto;
      min-width: 300px;
      white-space: nowrap;
   }

   .tags__group {
      margin-top: 30px;
   }
}

@media (max-width: 767px) {
   .catalogue__tags {
      display: block;
   }

   .catalogue__inner {
      flex-direction: column;
   }

   .aside__filter-btn {
      display: block;
   }

   .aside__inner {
      display: none;
      margin-bottom: 25px;
   }
}