.footer {
   padding: 45px 0 25px 0;
   background-color: var(--base-color);
}

.footer-top {
   display: flex;

   // .footer-top__newsletter

   &__newsletter {}

   // .footer-top__title

   &__title {
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      max-width: 222px;
   }

   // .footer-top__form

   &__form {
      margin-top: 35px;
      margin-right: 110px;
      max-width: 300px;
   }

   // .footer-top__info

   &__info {}

   // .footer-top__list

   &__list {}

   // .footer-top__social

   &__social {
      margin-left: auto;
      margin-right: 75px;
   }
}

.subscribe-form {
   display: flex;
   justify-content: space-between;

   // .subscribe-form__input

   &__input {
      font-size: 14px;
      line-height: 17px;
      padding: 8px 15px;
      border: none;
      w

      &::placeholder {
         color: var(--light-gray);
      }
   }

   // .subscribe-form__btn

   &__btn {
      font-weight: 600;
      font-weight: 600;
      font-size: 11px;
      line-height: 13px;
      letter-spacing: 0.12em;
      padding: 10px 15px;
      text-transform: uppercase;
      color: var(--white-color);
      background-color: var(--accent-color);
   }
}

.btn-reset {}

.footer-list {
   margin-right: 100px;

   // .footer-list__item

   &__item {}

   // .footer-list__link

   &__link {
      font-size: 14px;
      line-height: 17px;
   }
}

.footer-social {
   align-self: center;

   // .footer-social__list

   &__list {
      display: flex;
   }

   // .footer-social__item

   &__item {

      &:not(:last-child) {
         margin-right: 30px;
      }
   }

   // .footer-social__link

   &__link {}
}

.footer-bottom {
   display: flex;
   justify-content: center;
   margin-top: 45px;

   // .footer-bottom__link

   &__link {
      font-size: 10px;
      line-height: 12px;
      margin: 0 40px;
      color: var(--abbey-color);
   }
}

.footer-top__title {
   pointer-events: none;
}

@media (max-width: 1100px) {
   .footer-top {
      flex-wrap: wrap;
      justify-content: space-between;
   }

   .footer-top__social {
      margin: 0;
      margin: 0 auto;
      margin-top: 25px;
   }

   .footer-top__newsletter {
      margin-bottom: 25px;
   }
}

@media (max-width: 574px) {
   .footer-top {
      flex-direction: column;
   }

   .footer-top__info {
      margin-bottom: 25px;
   }

   .footer-top__social {
      margin-top: 0;
   }
}

@media (max-width: 467px) {
   .footer-bottom {
      flex-direction: column;
      margin-top: 30px;
   }

   .footer-bottom__link {
      margin: 10px 0;
   }

   .footer-top__form {
      margin-top: 20px;
   }

   .footer-top__list {
      display: none;
   }

   .footer-top__info {
      border-bottom: 2px solid #d1d1d1;
      padding-bottom: 10px;
   }

   .footer-top__title {
      pointer-events: all;
   }
}