.group {

   // .group__inner

   &__inner {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 80px;
   }

   // .group__item

   &__item {
      display: flex;
      flex: 0 1 32%;
      padding: 20px 20px 15px 20px;
      border: 1px solid var(--silver-color);
      border-radius: 3px;
      background-color: var(--white-color);
      transition: all 0.3s;

      &:nth-child(-n+3) { margin-bottom: 30px; }

      &:hover {
         border: 1px solid var(--white-color);
         box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
         transition: all 0.3s;
      }

      &:hover .group__title {
         color: var(--accent-color);
         transition: all 0.3s;
      }
   }

   // .group__info

   &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 0 1 50%;
   }

   // .group__title

   &__title {
      font-weight: 700;
      font-size: 23px;
      line-height: 28px;
      transition: all 0.3s;
   }

   // .group__text

   &__text {
      display: inline-block;
      position: relative;
      font-size: 14px;
      line-height: 17px;
      color: var(--light-gray);

      &::after {
         content: '';
         display: inline-block;
         width: 6px;
         height: 9px;
         margin-left: 5px;
         background-image: url('../images/icons/more-icon.svg');
      }
   }

   // .group__image

   &__image {
      flex: 0 1 50%;
      text-align: center;
   }
}