.header {

   // .header__top

   &__top {}

   // .header__top-inner

   &__top-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 25px 0;
   }

   // .header__menu

   &__menu {}

   // .header__logo

   &__logo {}

   // .header__box

   &__box {}

   // .header__bottom

   &__bottom {}

   // .header__categories

   &__categories {}
}


.menu {

   // .menu__list

   &__list { display: flex; }

   // .menu__item

   &__item {

      &:not(:last-child) {
         padding-right: 50px;
      }
   }

   // .menu__link

   .menu__link { font-weight: 700; }
}

.logo {}

.box {
   display: flex;
   align-items: center;
   justify-content: space-between;

   // .box__address

   &__address {
      position: relative;
      font-weight: 700;
      padding-left: 30px;
      margin-right: 85px;

      &::before {
         content: '';
         position: absolute;
         top: -6px;
         left: 0;
         width: 30px;
         height: 30px;
         background-image: url('../images/icons/address-icon.svg');
      }
   }

   // .box__panel

   &__panel {
      display: flex;
      align-items: center;
      margin-right: 15px;
   }
}

.panel {

   // .panel__item

   &__item { padding-right: 10px; }

   // .panel__link

   &__link {}
}

.cart {
   position: relative;

   &__text {
      position: absolute;
      right: -10px;
      bottom: 0;
      width: 20px;
      height: 20px;
      font-weight: 500;
      font-size: 10px;
      line-height: 20px;
      text-align: center;
      color: var(--white-color);
      border-radius: 50%;
      background-color: var(--accent-color);
   }
}

.categories {
   display: flex;
   justify-content: space-around;
   background-color: var(--base-color);

   // .categories__item

   &__item { padding: 15px 0; }

   // .categories__link

   &__link {
      position: relative;

      &::after {
         content: '';
         display: block;
         position: absolute;
         left: auto;
         right: 0;
         bottom: -15px;
         width: 0;
         height: 3px;
         background-color: var(--accent-color);
         transition: all 0.3s;
      }

      &:hover {
         color: var(--black-color);

         &::after {
            width: 100%;
            right: auto;
            left: 0;
            transition: all 0.3s;
         }
      }
   }
}