.search {

   // .search__inner

   &__inner { margin-bottom: 80px; }

   // .search__tabs

   &__tabs { margin-bottom: 25px; }

   // .search__tabs-content

   &__tabs-content {}
}

.tabs {

   // .tabs__item

   &__item {
      display: inline-block;
      padding: 12px 26px;

      // .tabs__item--active

      &--active {
         font-weight: 700;
         border-radius: 5px;
         background-color: var(--base-color);
      }
   }
}

.tabs-content {

   // .tabs-content__item

   &__item {
      display: none;
      // .tabs-content__item--active

      &--active { display: block; }
   }

   // .tabs-content__form

   &__form {}
}

.tabs-form {
   display: flex;

   // .tabs-form__input

   &__input {
      padding: 15px 20px;
      width: 100%;
      border: none;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      background-color: var(--base-color);

      &::placeholder { color: #656464; }
   }

   // .tabs-form__btn

   &__btn {
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      padding: 15px 40px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      color: var(--white-color);
      background-color: var(--accent-color);
   }
}