.search {

   // .search__inner

   &__inner {
      margin-bottom: 80px;
   }

   // .search__tabs

   &__tabs {
      margin-bottom: 25px;
   }
}

.tabs {

   // .tabs__item

   .search__tabs-item.tabs__item {
      display: inline-block;
      padding: 12px 26px;
   }

   .search__tabs-item.tabs__item--active {
      font-weight: 700;
      border-radius: 5px;
      background-color: var(--base-color);
   }
}

.tabs-content {

   // .tabs-content__item

   &__item {
      display: none;
      // .tabs-content__item--active

      &--active {
         display: block;
      }
   }
}

.tabs-form {
   display: flex;

   // .tabs-form__input

   &__input {
      padding: 15px 20px;
      width: 100%;
      border: none;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      background-color: var(--base-color);

      &::placeholder {
         color: #656464;
      }
   }

   // .tabs-form__btn

   &__btn {
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      padding: 15px 40px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      color: var(--white-color);
      background-color: var(--accent-color);
   }
}

@media (max-width: 737px) {
   .search__tabs {
      overflow-x: auto;
      min-width: 400px;
      white-space: nowrap;
   }
}

@media (max-width: 400px) {
   .tabs-form__input {
      max-width: 100%;
      padding: 5px 0 5px 15px;
   }

   .tabs-form__btn {
      font-size: 12px;
      padding: 10px 20px;
      letter-spacing: 0;
      line-height: 14px;
   }
}