.product-tabs__wrapper {
   margin-bottom: 100px;
}

.product-tabs {
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 22px 0;
   margin-bottom: 50px;
   background-color: var(--base-color);

   // .product__tabs-content

   &__tabs-content {}
}

.product-item.tabs__item--active {
   border-bottom: 2px solid var(--accent-color);
}

.product-item {}

.tabs-content {

   // .tabs-content__item

   &__item {

      // .tabs-content__item--active

      &--active {}
   }

   // .tabs-content__form

   &__form {}
}

.product-form {

   // .product-form__header

   &__header {
      display: flex;
      align-items: center;
      margin-bottom: 50px;
   }

   // .product-form__label

   &__label {
      font-size: 17px;
      line-height: 20px;
      color: rgba(#2F3035, 0.7);
   }

   // .product-form__content

   &__content {}

   // .product-form__list

   &__list {
      display: flex;
   }
}

.search-label {
   position: relative;
   margin-right: 100px;

   // .search-label__input

   &__input {
      border: none;
      border-radius: 3px;
      margin-left: 15px;
      padding: 10px 25px 10px 15px;
      background-color: var(--base-color);
   }

   &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 8px;
      width: 16px;
      height: 16px;
      background-image: url('../images/icons/search-icon.svg');
   }
}

.pickup-label {
   display: flex;
   align-items: center;
   margin-left: 50px;

   // .pickup-label__input

   &__input {
      margin: 0;
      margin-right: 15px;
   }
}

.form-list {
   display: flex;
   flex-direction: column;

   // .form-list__item

   &__item {
      display: flex;
      width: 100%;
      font-size: 16px;
      line-height: 22px;
      color: rgba(#2F3035, 0.7);
      padding: 20px 0;
      border-bottom: 1px solid rgba(#2F3035, 0.1);
   }

   // .form-list__item-title

   &__item-title {
      display: flex;
      width: 100%;
      font-size: 20px;
      line-height: 24px;
      color: var(--main-color);
      margin-bottom: 20px;
   }

   // .form-list__address

   &__address {
      width: 220px;
      margin-right: 80px;
   }

   // .form-list__workhours

   &__workhours {
      display: flex;
      align-items: center;
      width: 170px;
      margin-right: 80px;

      & span {
         flex: 0 1 50%;
      }
   }

   // .form-list__available

   &__available {
      width: 120px;
      margin-right: 80px;
   }

   // .form-list__count

   &__count {
      width: 110px;
      margin-right: 140px;
   }

   // .form-list__buy

   &__buy {}

   // .form-list__buy-btn

   &__buy-btn {
      font-size: 13px;
      line-height: 16px;
      padding: 10px 40px;
   }
}

.product-info__buy-btn--mobile {
   display: none;
}

@media (max-width: 1040px) {

   .form-list__item {
      flex-direction: column;
      align-items: stretch;
   }

   .form-list__item-title {
      display: none;
   }

   .product-form__header {
      flex-direction: column;
      align-items: start;
   }

   .form-list__address,
   .form-list__workhours,
   .form-list__available,
   .form-list__count {
      margin-right: 0;
      margin-bottom: 15px;
   }

   .search-label {
      margin-right: 0;
      display: block;
      width: 100%;
   }

   .product-form__label {
      margin-left: 0;
      margin-bottom: 15px;
   }

   .search-label::before {
      display: none;
   }
}

@media (max-width: 836px) {
   .product-tabs {
      overflow: auto;
      min-width: 400px;
      white-space: nowrap;
      justify-content: space-between;
   }

   .product-item {
      display: inline-block;
      margin: 0 25px;
   }
}

@media (max-width: 768px) {
   .product-info__inner {
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .product-info__content {
      margin-top: 30px;
   }

   .product-content__title {
      font-size: 24px;
   }
}

@media (max-width: 450px) {

   .product-content__title {
      font-size: 22px;
      line-height: 28px;
   }

   .product-info__content {
      order: -1;
      flex: auto;
   }

   .product-info__tabs,
   .product-info-content {
      display: none;
   }

   .product-content__compare,
   .product-content__fav {
      margin-right: 15px;
   }

   .product-info__box {
      flex: 0 1 400px;
   }


   .product-info__buy-btn--mobile {
      display: block;
      margin: 0 auto;
      margin-top: 20px;
   }

   .product-info {
      margin-bottom: 40px;
   }

   .product-form__label span {
      display: none;
   }

   .search-label__input {
      margin-left: 0;
   }
}